body{
    background-color:white;
}

.topbar{
background-color: black;
height: 10px;
width: 100%;
}
.centerbody{
    width: 75%;
    margin: auto;
}
.header{
    background-color: white;
    height: 90px;

}
.header img{
    height:80px;
    margin-top: 10px;
}
.header ul{
    float: right;
    margin-top: 50px;
}
.header ul li{
display: inline;
}
.header ul li a{
    color: black;
    margin-right:40px;
    font-size: 20px;
    text-decoration: none;
}
.banner img{width: 100%;
filter: brightness(130%);
height:450px;}
.contant1{
    width:32%;
    height:450px;
    background-color: orange;
    float:left;
    margin-right: 2.2%;
    margin-top: 10px;
}
.contant2{
    width:32%;
    height: 450px;
    background-color:red;
    float:left;
    margin-top: 10px;
}
.contant3{
    width:32%;
    height: 450px;
    background-color: rgba(10, 69, 231, 0.932);
    float:right;
    margin-top: 10px; 
}
.heading{
    margin-left: 20px;
    font-size: 25px;
}
.para1{
    margin-left: 20px;
    margin-right: 10px;
}
.more{
    text-decoration: none;
    background-color: white;
    margin-left: 20px;
    border: 5px solid white;
}
#bottom1{
    width: 60%;
    color: black;
    margin-top: 20px;
    float: left;
}
#bottom2{
    width: 40%;
    color:black;
    float: right;
    margin-top: 20px;
}
h2{
    margin-left: 20px;
}
.footer{
    width: 100%;
    height: 80px;
    clear: both;
    margin-top: 20px;
    background-color: black;
}
.footer ul{
    float:left;
    margin-top: 30px;
}
.footer ul li{
display: inline;
}
.footer ul li a{
    color:white;
    margin-right:40px;
    font-size: 20px;
    text-decoration: none;
}
.footer p{
    color:white;
    float: right;
    margin-top: 30px;
}